name: Publish to Bintray

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with gradle
        run: ./gradlew build
      - name: Upload to Bintray
        run: ./gradlew bintrayUpload --parallel --stacktrace
        env:
          BINTRAY_USER: oroarmor
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
      - name: Deploy
        run: .build/deploy.sh
        env:
          GPG_SECRET: ${{ secrets.GPG_SECRET }}